body{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(27,31,35,0.025);
}
.register-bg{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-top: 4rem;
}
.register-cont{
	width: auto;
	padding: 30px 20px;
}
.register-form label{
	font-size: 14px;
	font-weight: 600;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom:6px;
	display: block;
}
.register-form .group{
	overflow: hidden;
	padding: 5px;
}
.register-form .input-cont{
	position: relative;
}
.register-form .input-cont .iconfont{
	position: absolute;
	top: 50%;
	right:5px;
	font-size: 20px;
	margin-top: -10px;
	display: none;
}
.register-form input {
	font-size: 14px;
	background:rgba(27,31,35,0.005);
	vertical-align: middle;
	border: 1px solid rgb(209,213,218);
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
	color: #333;
	cursor: auto;
	line-height: 20px;
	padding: 6px 8px;
	text-align: start;
	width: 220px;
	display: block;
	padding-right: 30px;
}
.register-form input:focus{
	background: #fafbfc;
	outline: none;
	box-shadow:0px 0px 7px #328bf0;
	border-color: rgb(3,102,214);
}
.icon-error{
	color: #FF0000;
}
.icon-correct{
	color: #2AC845;
}
.register-sub{
	margin-left: 5px;
}
