* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,i,b,label{margin: 0; padding: 0;}
a {color:#333; text-decoration: none; -webkit-tap-highlight-color: transparent; }
em{font-style: normal;}
b{ font-weight:normal;} 
i{ font-style:normal;}
h1{font-weight:normal;}
ul,ol,li,dl,dt,dd{list-style: none;}	
img{ border:none;}
label,em,img{ vertical-align:middle;}
table{border-collapse:collapse;empty-cells:show;}
.w100{ width:100%;}
.thisimg img{width:100%;} 
.fl{float:left;}
.fr{float:right;}
.ct{margin:0 auto;}
.ftc{ text-align:center;}
.ftright{ text-align:right;}
.ftleft{ text-align:left;}
.bold{ font-weight:bold;} 
.textline{text-decoration:underline;}
.clear:{
	clear:both
}
.clearfix:before,.clearfix:after{display:table;content:" ";}
.clearfix:after{clear:both;}
.clear{clear:both;} 
body{
	background: #F0F0F0;
}
.mainWidth{
	width:1000px;
	max-width: 100%;
	margin: auto;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
	html{
		font-size: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html{
		font-size: 20px;
	}
}
@media only screen and (min-width: 992px){
	html{
		font-size: 40px;
	}
}
.webBtn-save{
	padding: 7px 20px;
	border: #ccc;
	color: #F0F0F0;
	font-size: 13px;
	border-radius: 3px;
	background-color: #FE413B;
	cursor: pointer;
	outline: none;
  background-image: linear-gradient(-180deg, #fe6864 0%, #FE413B 90%);
  -webkit-user-select: none;
	-moz-user-select: none;
}
.webBtn-save:active {
	background-image: linear-gradient(-180deg, #FE413B 0%, #FE413B 90%);
  position:relative;
  top:1px;
}
.iconfont{
	font-size: 20px;
}
.iconfont.icon-load{
	animation:rotation 0.5s linear infinite;
}
@keyframes rotation{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
.fixdCover{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(0,0,0,0.2);
}
.loadCover .iconfont{
		position: absolute;
		top: 50%;
		left: 50%;
		font-size:50px;
		margin: -25px;
		color: #328BF0 !important;
		animation:rotation 1s linear infinite;
}
