<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.login-view{
				margin: 100px auto;
				width: 300px;
			}
			.login-userName,
			.login-password{
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="login-view">
			<div class="login-userName">
				<label>用户名</label>
				<input type="text" name="" id="userName" value="" />
			</div>
			<div class="login-password">
				<label>密码</label>
				<input type="password" name="" id="password" value="" />
			</div>
			<div class="login-btn">
				<button id="login-sub">登录</button>
				<button><a href="register.html">注册</a></button>
			</div>
		</div>
		<script src="../../dll/js/mui.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
